.main {
    color: var(--text);
    margin: 1rem;
}

.main h2 {
    font-size: 1.8rem;
}

/* top-section */

.top-section-netflix-movie {
    display: flex;
    gap: 2rem;
}

.top-section-netflix-movie img {
    height: 20rem;
    flex-grow: 1;
}

.top-section-netflix-movie img:hover {
    height: 40rem;
}

/* middle-section */

.middle-section-netflix-movie {
    display: flex;
    gap: 2rem;
}

.middle-section-netflix-movie img {
    height: 20rem;
    flex-grow: 1;
}

.middle-section-netflix-movie img:hover {
    height: 40rem;
}