#export-btn {
    background-color: #04AB46;
    color: white;
    border: none;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}

.cell_row{
    display: flex;
}

.cell {
    width: 80px;
    border: 1px solid lightgrey;
    height: 40px;
    outline: none;
    box-sizing: border-box;
}

.cell.header {
    text-align: center;
    background-color: #DDD;
}

.cell.header.active{
    background-color: lightblue;
    color: white;
}